# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [6]:
# Your code here
import pandas as pd
import sqlite3


con = sqlite3.connect('lego.db')
c = con.cursor()
c.execute("""SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;""")
        
df = pd.DataFrame(c.fetchall())
df.columns = [ i[0] for i in c.description]

df.head()

              name
0  product_details
1     product_info
2  product_pricing
3  product_reviews

In [7]:
c.execute("""SELECT * FROM product_info;""")
df = pd.DataFrame(c.fetchall())
df.columns = [ i[0] for i in c.description]

df.head()

   prod_id  ages  piece_count                         set_name
0      630    4+            1                  Brick Separator
1     2304  1½-5            1     LEGO® DUPLO® Green Baseplate
2     7280  5-12            2      Straight & Crossroad Plates
3     7281  5-12            2  T-Junction & Curved Road Plates
4     7499  5-12           24     Flexible and Straight Tracks

In [11]:
c.execute("""SELECT * FROM :table_name;""")
df = pd.DataFrame(c.fetchall())
df.columns = [ i[0] for i in c.description]
df.head()

In [12]:
view_table(product_pricing)

NameError: name 'product_pricing' is not defined

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!